<article class='small'>
	<section>
		<h1><%= t "pages.users.unlocks.title" %></h1>
		
		<div class='center'>
			<%= form_for resource, as: resource_name, url: user_unlock_path do |f| %>
		
				<%= render 'shared/messages' %>
			
				<div class='field'>
					<%= f.email_field :email, placeholder: t("dialog.email_placeholder"), autofocus: true,
					 	data: { submitOnEnter: 'true' } %>
				</div>
			
				<%= link_to '#', class: 'button secondary', data: { button: :submit } do %>
					<%= image_tag 'gfx/buttons/unlock.png' %>
					<span><%=t 'pages.users.unlocks.link' %></span>
				<% end %>
				
			<% end %>
				
			<%= render 'shared/login/links' %>
		</div>
		
	</section>
</article>