<%= render partial: 'shared/messages', locals: { resource: @app } %>

<%= form_for @app do |f| %>
	<div class='field'>
		<%= f.label :name, t("apps.meta.name") %>
		<%= f.text_field :name, autofocus: true %>
	</div>
	<div class='field'>
		<%= f.label :name, t("apps.meta.description") %>
		<%= f.text_area :description %>
	</div>
	<div class='field'>
		<%= f.label :name, t("apps.meta.website") %>
		<%= f.url_field :website %>
	</div>
	
	<p>&nbsp;</p>
		
	<div class='field'>
		<%= f.label :icon_16, t("apps.meta.icon_16") %>
		<%= f.url_field :icon_16 %>
		<%= image_tag '', width: 16, height: 16, id: :icon_16 %>
	</div>
	<div class='field'>
		<%= f.label :icon_64, t("apps.meta.icon_64") %>
		<%= f.url_field :icon_64 %>
		<%= image_tag '', width: 64, height: 64, id: :icon_64 %>
	</div>
	<div class='field'>
		<%= f.label :icon_512, t("apps.meta.icon_512") %>
		<%= f.url_field :icon_512 %>
		<%= image_tag '', width: 64, height: 64, id: :icon_512 %>
	</div>
	
	<p>&nbsp;</p>
	
	<div class='field'>
		<%= f.label :name, t("apps.meta.author") %>
		<%= f.text_field :author %>
	</div>
	<div class='field'>
		<%= f.label :name, t("apps.meta.author_url") %>
		<%= f.url_field :author_url %>
	</div>
	
	<p>&nbsp;</p>
	
	<div class='field'>
		<%= f.label :name, t("apps.meta.callback") %>
		<%= f.url_field :callback_url %>
	</div>
	<div class='field'>
		<%= f.label :name, t("apps.meta.support_url") %>
		<%= f.url_field :support_url %>
	</div>
	
	<%= link_to '#', class: 'button', data: { button: :submit } do %>
		<%= image_tag 'gfx/buttons/save.png' %>
		<span><%=t 'save' %></span>
	<% end %>
	
	
<% end %>

<% if false %>

<% if any_errors?(@app) || (flash[:alert] && flash[:alert] != "") %>
	<div class="notice">
		<%= pretty_error(@app) %>
		<%= flash[:alert] %>
	</div>
<% end %>

<div>
	<%= f.label :name, t("apps.name") %>
	<%= f.decoded_text_field :name, :class => "field", :size => 40 %>
</div>

<div>
	<%= f.label :description, t("apps.descr") %>
	<%= f.decoded_text_field :description, :class => "field", :size => 40 %>
</div>

<div>
	<%= f.label :website, t("apps.url") %>
	<%= f.decoded_text_field :website, :class => "field", :size => 40 %>
</div>

<div>
	<%= f.label :icon_16, t("apps.small_icon") %>
	<%= f.decoded_text_field :icon_16, :class => "field", :size => 40 %>
</div>

<div>
	<%= f.label :icon_64, t("apps.large_icon") %>
	<%= f.decoded_text_field :icon_64, :class => "field", :size => 40 %>
</div>

<div>&nbsp;</div>

<div>
	<%= f.label :author, t("apps.author") %>
	<%= f.decoded_text_field :author, :class => "field", :size => 40 %>
</div>

<div>
	<%= f.label :author_url, t("apps.author_url") %>
	<%= f.decoded_text_field :author_url, :class => "field", :size => 40 %>
</div>

<div>&nbsp;</div>

<div>
	<%= f.label :callback_url, t("apps.callback") %>
	<%= f.decoded_text_field :callback_url, :class => "field", :size => 40 %>
</div>

<div>
	<%= f.label :support_url, t("apps.support_url") %>
	<%= f.decoded_text_field :support_url, :class => "field", :size => 40 %>
</div>

<div class="bottom">
	<div class="right">
		<%
		submit_label = "create"
		submit_label = "save" if @app.id
		back_url = apps_path
		back_url = app_path(@app) if @app.id
		%>
		<% unless @no_back %>
			<%=custom_button_tag t("back"), back_url, "back" %>
		<% end %>
		<%=custom_button_tag t(submit_label), nil, "save", { :type => :form, :color => :blue } %>
	</div>
</div>
<% end %>