<li class='item' data-href='<%= url_for oauth_client %>' data-resource-id='<%= oauth_client.id %>' data-resource-type='app'
	data-resource-url='<%= url_for oauth_client %>'>
	
	<!-- image -->
	<%= image_tag oauth_client.image(:huge), data: { field: :picture } %>
	
	<!-- meta data -->
	<div class='overlay'>
		<span class='title' data-field='display'><%= oauth_client %></span>
		
		<% if defined? type and type %>
			<span class='type' data-list-mode='grid' data-type='app'><%= t 'apps.singular' %></span>
		<% end %>
		
		<span class='description'>
			<%= t 'apps.description_html', author: link_to(oauth_client.user, url_for(oauth_client.user)) %>
		</span>
		
	</div>
	
	<!-- controls -->
	<div class='action-bar'>
		
		<% if defined? type and type %>
			<span class='type' data-list-mode='list' data-type='app'><%= t 'apps.singular' %></span>
		<% end %>
		
		<% if current_user.owns?(oauth_client) or current_user.admin? %>
			<span class='edit action'>
				<%= link_to t('pages.oauth_clients.edit.link'), edit_app_path(oauth_client) %>
			</span>
		<% end %>
		
		<% if user_signed_in? %>
			<% if current_user.owns?(oauth_client) or current_user.admin? %>
				<span class='remove action'>
					<%= link_to '', title: t('pages.oauth_clients.destroy.description'), data: {
						ajax_call: :delete,
						ajax_url: app_path(oauth_client, format: :json),
						ajax_method: :delete,
						confirm: t('pages.oauth_clients.destroy.confirm', app: oauth_client)
					} do %>
						<span data-list-mode='list'><%= t 'pages.oauth_clients.destroy.link' %></span>
						<span data-list-mode='grid'>x</span>
					<% end %>
				</span>
			<% end %>
			
			<span class='action'>
				<% if oauth_client.installed_by? current_user %>
					<%= link_to revoke_app_path(oauth_client, return_uri: request.url), method: :delete do %>
						<span data-list-mode='list'><%= t 'pages.oauth_clients.revoke.link' %></span>
						<span data-list-mode='grid'>-</span>
					<% end %>
				<% else %>
					<%= link_to authorize_path(client_id: oauth_client.key, redirect_uri: request.url, response_type: :token) do %>
						<span data-list-mode='list'><%= t 'pages.oauth_clients.authorize.link' %></span>
						<span data-list-mode='grid'>+</span>
					<% end %>
				<% end %>
			</span>
				
		<% end %>
		
	</div>
</li>