<% content_for :title do %>
	<%=t 'pages.oauth_clients.edit.title', app: @app %>
<% end %>

<% content_for :description do %>
	<%=t 'pages.oauth_clients.edit.description', app: @app %>
<% end %>

<article>
	
	<aside>
		<section data-type='bonus'>
			<%= render 'shared/ads/skyscraper' %>
		</section>
	</aside>
	
	<section>
		<h1><%=t 'pages.oauth_clients.edit.title', app: @app %></h1>
		<%= render 'form' %>
	</section>
	
</article>