<% content_for :title do %>
	<%=t 'pages.oauth_clients.new.title' %>
<% end %>

<% content_for :description do %>
	<%=t 'pages.oauth_clients.new.description' %>
<% end %>

<article>
	
	<aside>
		<section data-bonus>
			<%= render 'shared/ads/skyscraper' %>
		</section>
	</aside>
	
	<section>
		<h1><%=t 'pages.oauth_clients.new.title' %></h1>
		<%= render 'form' %>
	</section>
	
</article>