<% content_for :title do %>
	<%= @app.name %>
<% end %>

<% content_for :description do %>
	<%=t 'pages.apps.show.description', app: @app %>
<% end %>

<article class='tabbed' data-resource-type='app' data-resource-id='<%= @app.id %>' data-resource-url='<%= url_for @app %>'>
	<section class='head'>
		<div class='left'>
			<div class='top'></div>
			<div class='line'></div>
			<div class='bottom'>
				<span><%=t 'apps.singular' %></span>
			</div>
		</div>
		<div class='right'>
			<div class='top'>
				<h1 data-field='display'><%=d @app.name %></h1>
				<%= render partial: 'shared/social' %>
			</div>
			<div class='line'></div>
			<div class='bottom'>
				<span>
					<%= t 'apps.description_html', author: link_to(@app.user) %>
				</span>
			</div>
		</div>
		<div class='image'>
			<div class='image-border'>
				<%= image_tag @app.image(:huge), data: { field: :picture } %>
			</div>
		</div>
	</section>
	
	<!-- we don't have any tabs, but need this to create the shadow effect -->
	<section class='tabs'></section>
	
	<aside>
		<section data-bonus>
			<%= render 'shared/ads/skyscraper' %>
		</section>
	</aside>
	
	<%= link_to t('pages.oauth_clients.authorize.link'), authorize_path(client_id: @app.key),
		class: 'button', id: 'install_button' %>
	
	<%= render 'oauth_clients/sections/info' %>
	<!-- TODO: fix the sunspot search so we get results here -->
	<%= render 'oauth_clients/sections/similar' if false %>
	
	<% if current_user.owns?(@app) or current_user.admin? %>
		<section>
			<%= link_to edit_app_path(@app), class: 'button primary' do %>
				<span><%= t 'pages.oauth_clients.edit.link' %></span>
			<% end %>
			<%= link_to t('pages.oauth_clients.destroy.link'), app_path(@app), method: :delete, data: {
				confirm: t('pages.oauth_clients.destroy.confirm')
			} %>
		</section>
	<% end %>
	
</article>


<% if false %>

		@channels = @app.user == nil ? [] : ["user_"+@app.user.id]

<div id="main" class="app">
	<div class="white box">
		<div class="head">
			<%= image_tag @app.large_icon, :width => 64, :height => 64 %>
			<div class="text">
				<h1><%=h @app.name %></h1>
				<h2><%=h @app.description %></h2>
			</div>
		</div>
		
		<div class="narrow">
			<dl>
				<dt><%=t "apps.permissions.title" %></dt>
				
				<% ["name", "picture", "playlists", "listens", "shares"].each do |p| %>
					<dd title="<%=t "apps.permissions.#{p}.tooltip" %>">
						<%=t "apps.permissions.#{p}.label" %>
					</dd>
				<% end %>
				
				<dt><%=t "apps.url" %></dt>
				<dd><%= link_to pretty_url(@app.website), @app.website %></dd>
				
				<dt><%=t "apps.support" %></dt>
				<dd><%= link_to pretty_url(@app.support_url), @app.support_url %></dd>
				
				<dt><%=t "apps.author" %></dt>
				<dd><%= link_to @app.author, @app.author_url %></dd>
				
				<% if user_signed_in? && @app.user == current_user %>
					<dt><%=t "apps.key" %></dt>
					<dd><%= @app.key %></dd>
					<dt><%=t "apps.secret" %></dt>
					<dd><%= @app.secret %></dd>
					<dt><%=t "apps.request" %></dt>
					<dd><code>
						http<%="s" if request.ssl? %>://<%= request.host_with_port %><%=@app.oauth_server.request_token_path %>
					</code></dd>
					<dt><%=t "apps.access" %></dt>
					<dd><code>
						http<%="s" if request.ssl? %>://<%= request.host_with_port %><%=@app.oauth_server.access_token_path %>
					</code></dd>
					<dt><%=t "apps.authorize" %></dt>
					<dd><code>
						http<%="s" if request.ssl? %>://<%= request.host_with_port %><%=@app.oauth_server.authorize_path %>
					</code></dd>
				<% end %>
			</dl>
		</div>
		
		<% if false %>
		<div class="wide center">
			<%= custom_button_tag t("apps.add.button"), "", "", { :color => :blue, :class => "huge add" } %>
			<p><%=t "apps.add.hint", :app => h(@app.name) %></p>
		</div>
		<% end %>
		
	</div>
	
	<% if user_signed_in? && @app.user == current_user %>
		<div class="blue box">
			<h1><%=t "apps.settings" %></h1>
			<%= form_for :app, :url => app_path(@app), :html => {:method => :put}  do |f| %>
				<% @no_back = true %>
				<%= render :partial => "form", :locals => { :f => f } %>
			<% end %>
		</div>
	<% end %>
</div>

<%= render "sidebars/#{user_signed_in? ? 'user' : 'main'}" %>
<% end %>