<% content_for :header do %>
	<meta http-equiv='refresh' content='1;URL=<%= @url %>'>
<% end %>

<article class='fullwidth'>
	<section>
		<h1><%=t "get.thanks" %></h1>
		<p><%=t "get.manual_start_html", :click_here => link_to(t("get.click_here"), @url) %></p>
	</section>


	<section>
		<h2>1. <%=t "get.instruction1.title" %></h2>
		<p><%=t "get.instruction1.text.#{@browser}", :fname => @filename %></p>
		<%= image_tag "#{I18n.locale}/installation/#{@browser}.jpg" %>
	</section>
	
	<section>
		<h2>2. <%=t "get.instruction2.title" %></h2>
		<p><%=t "get.instruction2.text" %></p>
		<%= image_tag "#{I18n.locale}/installation/security.jpg" %>
	</section>

	<section>
		<h2>3. <%=t "get.instruction3.title" %></h2>
		<p><%=t "get.instruction3.text" %></p>
		<%= image_tag "#{I18n.locale}/installation/setup.jpg" %>
	</section>
</article>
