<%= render 'pages/about/slideshow' %>

<% if @os == "windows 7" %>
	<%= render 'shared/download-button' %>
<% end %>

<%= render 'pages/about/social' %>
<%= render 'pages/about/highlights' %>
<%= render 'pages/about/quotes' %>
<%= render 'pages/about/credits' %>
<%= render 'pages/about/future' %>

<% if false %>

<div class="gold slideshow box">

<div class="white intro box">
	<% if text_ads? %>
		<div class="ad">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- Leader Black -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:728px;height:90px"
			     data-ad-client="ca-pub-5639501338860736"
			     data-ad-slot="1033329665"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
	<% end %>
	
	<span class="donation">
		<h1><%= t "donations.title" %></h1>
		<% if too_many_donations? %>
			<%= t "donations.full_text_html" %>
		<% else %>
			<%=t "donations.front_text_html" %>
		<% end %>
	</span>
	<span class="latest">
		<h1><%=t "home.latest.title" %></h1>
		<%=t "home.latest.text_html" %>
	</span>
	<div>
		<span id="donation-button">
			<%=custom_button_tag t("donations.button"), "donate()", "dollar", { :type => :function, :color => :gold } %>
		</span>
		<span>
			<% unless too_many_donations? %>
				<%=custom_button_tag t("home.latest.more"), news_path, "star", { :color => :blue } %>
			<% end %>
		</span>
	</div>
	<div class="highlights">
		<span>
			<h2><%=t "home.highlights.music.title" %></h2>
			<p><%=t "home.highlights.music.text" %></p>
		</span>
		<span>
			<h2><%=t "home.highlights.face.title" %></h2>
			<p><%=t "home.highlights.face.text" %></p>
		</span>
		<span>
			<h2><%=t "home.highlights.social.title" %></h2>
			<p><%=t "home.highlights.social.text" %></p>
		</span>
		<span>
			<h2><%=t "home.highlights.remote.title" %></h2>
			<p><%=t "home.highlights.remote.text" %></p>
		</span>
	</div>
</div>

<div class="ingraved quotes box">
	<div class="quote" id="quote1">
		<div class="quotemark">"</div>
		<div class="text">
			<h1><%= t "home.quotes.winajuda" %></h1>
			<h2>- <a href="http://winajuda.com/downloads/stoffi-music-player.html">WinAjuda</a></h2>
		</div>
	</div>
	<div class="quote" id="quote2">
		<div class="quotemark">"</div>
		<div class="text">
			<h1><%= t "home.quotes.softonic" %></h1>
			<h2>- <a href="http://stoffi.softonic.it/">Softonic</a></h2>
		</div>
	</div>
	<div class="quote" id="quote3">
		<div class="quotemark">"</div>
		<div class="text">
			<h1><%= t "home.quotes.3d2f" %></h1>
			<h2>- <a href="http://3d2f.com/smartreviews/1-686-stoffi-music-player-everything-you-have-been-looking-for-in-an-audio-player-read.shtml">3D2F</a></h2>
		</div>
	</div>
</div>

<script>
	var images = [
		"youtube.png", "interface.png", "playlist_from_search.png", "remote.png",
		"formats.jpg", "mind_reader.png", "save_the_world.png", "social.jpg",
		"music_list.png", "cloud.png", "bookmarks.jpg"
	];
	for (i in images)
		images[i] = '/assets/' + locale + '/slideshow/' + images[i];
	preloadImages(images);

	slideshow();
	
	// like button
	(function(d)
	{
		var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
		js = d.createElement('script'); js.id = id; js.async = true;
		js.src = "//connect.facebook.net/<%=full_locale(I18n.locale)%>/all.js#appId=243125052401100&xfbml=1";
		d.getElementsByTagName('head')[0].appendChild(js);
	}(document));
	
	// +1 button
	window.___gcfg = {lang: '<%=langtag(I18n.locale)%>'};
	(function()
	{
	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	po.src = 'https://apis.google.com/js/plusone.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	})();
	
	// tweet button
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>

<% end %>
