<%= render 'pages/about/slideshow' %>

<% if true or @os == "windows 7" %>
	<div id='button-wrapper'>
		<%= render 'shared/download_button' %>
	</div>
<% end %>

<%= render 'pages/about/social' %>
<%= render 'pages/about/highlights' %>
<%= render 'pages/about/rewards' %>
<%= render 'pages/about/quotes' %>
<%= render 'pages/about/credits' %>
<%= render 'pages/about/future' %>
