<article>
	<section>
		<h1><%= t "pages.pages.money.title" %></h1>
		<p><%=t "money.intro"%></p>
		<p><%=t "money.labels.text1" %><p>
		<p><%=t "money.labels.text2" %><p>
		<h2><%=t "money.process.title" %></h2>
		<p><%=t "money.process.text1" %><p>
		<p><%=t "money.process.text2" %><p>
		<h2><%=t "money.charity.title" %></h2>
		<p><%=t "money.charity.text" %><p>
	</section>
	<aside>
		<section data-type='bonus'>
			<%= image_tag 'gfx/money.png', class: 'featured' %>
		</section>
	</aside>
</article>