<% content_for :titles do %>
	foobar
<% end %>

<%
pref = "/assets/#{I18n.locale}/screenshots"
articles =
[
	{
		:name => "qin",
		:stamp => 1399309944,
		:screens =>
		[
			{ :width => 514, :height => 318 },
			{ :width => 438, :height => 129 },
			{ :width => 924, :height => 490 },
			{ :width => 412, :height => 178 }
		]
	},
	{
		:name => "zhou",
		:stamp => 1341698631,
		:screens =>
		[
			{ :width => 832, :height => 349 },
			{ :width => 444, :height => 197 },
			{ :width => 263, :height => 160 }
		]
	},
	{
		:name => "shang",
		:stamp => 1319815721,
		:screens =>
		[
			{ :width => 848, :height => 539 },
			{ :width => 848, :height => 539 },
			{ :width => 848, :height => 539 },
			{ :width => 848, :height => 539 },
			{ :width => 400, :height => 500 },
			{ :width => 400, :height => 500 }
		]
	},
	{
		:name => "xia",
		:stamp => 1303931053,
		:screens =>
		[
			{ :width => 393, :height => 252 },
			{ :width => 393, :height => 252 }
		]
	}
]
%>

<article id='news'>
	<% articles.each do |article| %>
		<section>
			<span class='timestamp'>
				<%= I18n.localize(Time.at(article[:stamp]).to_date, :format => :long) %>
			</span>
			<h1><%=t "news.#{article[:name]}.title" %></h1>
			<h2><%=t "news.#{article[:name]}.subtitle" %></h2>
			<%=t "news.#{article[:name]}.content_html" %>
			<div class="screenshots">
				<h2><%=t "news.screenshots" %></h2>
				<%
				i = 0
				article[:screens].each do |screen|
					i += 1
					name = "#{article[:name]}_#{i}"
					path = "#{pref}/#{name}.png"
					thumb = "#{I18n.locale}/screenshots/#{name}_thumb.png"
					%>
					<%= link_to image_tag(thumb), path, data: { image: { width: screen[:width], height: screen[:height] } } %>
				<% end %>
			</div>
		</section>
		<aside>
			<section data-type='essential'>
				<h2><%=t "news.features" %></h2>
				<ul class='tick'>
					<%=t "news.#{article[:name]}.list_html" %>
				</ul>
			</section>
		</aside>
		<div class='clear<%=' divider' unless article == articles.last %>'></div>
	<% end %>
</article>