<% c = current_user.configurations.any? ? current_user.configurations.first : nil %>
<%= hidden_field_tag 'fullscreen_mode' %>

<article class='remote' data-remote-device data-remote-configuration='<%= c ? c.id : -1 %>'>
	<section>
		<% current_user.devices.each do |device| %>
			<% next unless device.configuration %>
			<%= hidden_field_tag "device_#{device.id}_now_playing", device.configuration.now_playing %>
			<%= hidden_field_tag "device_#{device.id}_repeat", device.configuration.repeat %>
			<%= hidden_field_tag "device_#{device.id}_shuffle", device.configuration.shuffle %>
			<%= hidden_field_tag "device_#{device.id}_volume", device.configuration.volume %>
			<%= hidden_field_tag "device_#{device.id}_media_state", device.configuration.media_state %>
		<% end %>
		
		<span class='back'>
			<%= icon 'angle-left' %> <%= t 'back' %>
		</span>
		
		<span class='device'>
			<%= select_tag :device, options_from_collection_for_select(current_user.devices, :id, :name) %>
		</span>
		
		<span class='shuffle button'    title='<%= t 'remote.shuffle.active' %>'>
			<%= icon 'random' %>
		</span>
		<span class='separator'></span>
		
		<span class='previous button'   title='<%= t 'remote.previous' %>'>
			<%= icon 'step-backward' %>
		</span>
		<span class='play-pause button' title='<%= t 'remote.play' %>'>
			<%= icon 'play' %>
		</span>
		<span class='next button'       title='<%= t 'remote.next' %>'>
			<%= icon 'step-forward' %>
		</span>
		
		<span class='separator'></span>
		<span class='repeat button'     title='<%= t 'remote.repeat.all' %>'>
			<%= icon 'repeat' %>
			<span class='repeat-label'>1</span>
		</span>
		<span class='current-song'>
			<%= t('remote.nothing_playing') %>
		</span>
		<span class='volume' title='<%= t 'remote.volume' %>'>
			<%= icon 'volume-down' %>
			<%= slider value: 10, id: 'volume-slider' %>
			<%= icon 'volume-up' %>
		</span>
		
	</section>
</article>