<section class='tabs'>
	
	<span class='tab' data-tab='all' data-categories='<%= Search.categories.join('|') %>'>
		<%= t 'search.categories.all' %>
		<%= hidden_field :placeholder, :all, value: t("search.placeholder.all") %>
	</span>
	
	<% Search.categories.each do |category| %>
		<span class='tab' data-tab='<%= category %>' data-categories='<%= category %>'>
			<%=t("#{category}.plural").capitalize %>
			<%= hidden_field :placeholder, category, value: t("search.placeholder.#{category}") %>
		</span>
	<% end %>
	
</section>