<p class='stats'>Found 123 results across <%=@search.sources.length%> places in <%=@results[:benchmark].real.round(2)%> seconds.</p>
<ul id='result-list'>
	
	<% if @results[:exact].has_key? :artist %>
		<%
		artist = @results[:exact][:artist][:object] %>
		<% if false%>
		p = WikipediaLink.find_page(artist.name, I18n.locale, :artist)
		s = WikipediaLink.summary(p)
		if s and s[:info]
		<% end %>
	<li class='exact artist'>
		<div class='image'>
			<% img = artist.images.get_size(:large) %>
			<%=image_tag img.url if img %>
		</div>
		<div class='banner'>
			<h3>
				<%=artist.display %>
			</h3>
			<p class='statistics'>
				Listened to 3,141 times by 242 fans
			</p>
			<br/>
			<p class='tabs'>
				<a class='active tab'>Info</a>
				<a class='tab'>Albums</a>
				<a class='tab'>Songs</a>
				<a class='tab'>Events</a>
				<a class='tab'>Fans</a>
			</p>
		</div>
		<div class='content' style='padding-left: 100px'>
			<%
			infos = 0
			max_infos = 5
			info_order = ['origin', 'genre', 'years_active', 'label', 'current_members',
			'past_members', 'birth_date', 'death_date', 'birth_place', 'death_place',
			'alias', 'hometown', 'parents', 'spouse', 'children', 'tools',
			'instrument', 'residence', 'education', 'relations', 'relatives',
			'resting_place', 'death_cause', 'net_worth']
			%>
			<dl>
			<% info_order.each do |k| %>
				<%#v = s[:info][k] %>
				<%#next if v.blank? %>
				<dt><%=k.gsub('_',' ').capitalize%></dt>
				<dd><%== "Lorem ipsum" %></dd>
				<%
				infos += 1
				break if infos >= max_infos
				%>
			<% end %>
			</dl>
			<p class='clear'>&nbsp;</p>
			<p><%== 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' %></p>
		</div>
		
	</li>
		<%#end %>
	<% end %>
	
	<% @results[:hits].each do |hit| %>
		<%
		one_liner = (hit[:object].class == Song and hit[:object].images.empty?)
		cname = "clickable #{hit[:object].class.to_s.underscore}"
		cname += ' one-line' if one_liner
		%>
		<li class='<%=cname%>' data-type='hit'>
			<%
			img = hit[:object].images.get_size(:medium)
			%>
			<% unless one_liner %>
			<div class='image'>
				<%= image_tag img.url if img %>
			</div>
			<% end %>
			<div class='content'>
				<% if one_liner  %>
					<a class='button'>&#9654;</a>
				<% end %>
				
				<h3><%=hit[:object].display %></h3>
				
				<% case hit[:object].class.to_s.underscore.to_sym
				when :song then %>
				<% a_txt = " by #{a_txt}" if a_txt.present? %>
				<% if one_liner %>
				<span><%== a_txt%></span>
				<% else %>
				<p>A song<%== a_txt%></p>
				<p><a class='button'>&#9654;</a></p>
				<% end %>
				
				<% when :artist then %>
				<p>Genres: <a>hip hop</a>, <a>rap</a>, <a>electropop</a></p>
				<p>Songs: <a>A Song</a>, <a>Something</a>, <a>Something Else</a>, <a>Here Comes Another Song</a>, <a>This Song is Cool</a></p>
				
				<% when :album then %>
				<% a_txt = " by #{a_txt}" if a_txt.present? %>
				<p>An album <%== a_txt%></p>
				<p>Songs: <a>Relapse</a>, <a>Something</a>, <a>Something Else</a>, <a>Here Comes Another Song</a>, <a>This Song is Cool</a></p>
				
				<% when :event then %>
				<% a_txt = " with #{a_txt}" if a_txt.present? %>
				<p>An event <%== a_txt%></p>
				<p>In <%=hit[:object].venue%> at Aug 4th, 13:37<p>
					
				<% end %>
				
			</div>
	</li>
	<% end %>
</ul>

<script>
// TODO: can someone please help me move this into search.js.coffee?
$("[data-type='hit'] img").load(function() { resizeImage($(this), 64); });
$(".exact img").load(function() { resizeImage($(this), 120); });
</script>