	<ul id='result-list'>
	
	<% if @results[:exact].has_key? :artist %>
		<%
		artist = @results[:exact][:artist]
		p = WikipediaLink.find_page(artist[:name], I18n.locale, :artist)
		s = WikipediaLink.summary(p)
		if s and s[:info]
			%>
	<li class='exact artist'>
		<div class='image'>
			<%=image_tag artist[:images][:small] %>
		</div>
		<div class='banner'>
			<span class='title'>
				<%=artist[:name]%>
			</span>
			<br/>
			<span class='statistics'>
				Listened to 3,141 times by 242 fans
			</span>
			<br/>
			<span class='tabs'>
				<a class='active tab'>Info</a>
				<a class='tab'>Albums</a>
				<a class='tab'>Songs</a>
				<a class='tab'>Events</a>
				<a class='tab'>Fans</a>
			</span>
		</div>
		<div class='content' style='padding-left: 100px'>
			<%
			infos = 0
			max_infos = 5
			info_order = ['origin', 'genre', 'years_active', 'label', 'current_members',
			'past_members', 'birth_date', 'death_date', 'birth_place', 'death_place',
			'alias', 'hometown', 'parents', 'spouse', 'children', 'tools',
			'instrument', 'residence', 'education', 'relations', 'relatives',
			'resting_place', 'death_cause', 'net_worth']
			%>
			<dl>
			<% info_order.each do |k| %>
				<% v = s[:info][k] %>
				<% next if v.to_s.empty? %>
				<dt><%=k.gsub('_',' ').capitalize%></dt>
				<dd><%=raw v%></dd>
				<%
				infos += 1
				break if infos >= max_infos
				%>
			<% end %>
			</dl>
			<p class='clear'>&nbsp;</p>
			<p><%=raw s[:intro]%></p>
		</div>
		
	</li>
		<% end %>
	<% end %>
	
	<% @results[:hits].each do |hit| %>
	
	<%
	case hit[:type]
	when :artist then %>
		<li class='artist'>artist: <%=hit[:name]%></li>
	<% when :album then %>
		<li class='artist'>album: <%=hit[:name]%></li>
	<% when :song then %>
		<li class='artist'>song: <%=hit[:name]%></li>
	<% when :genre then %>
		<li class='artist'>genre: <%=hit[:name]%></li>
	<% when :event then %>
		<li class='artist'>event: <%=hit[:name]%></li>
	<% end %>
	
	<% end %>
</ul>