<div class='stats'>
	<%= t 'search.stats.number', count: @results[:total_hits] %>
	<%= t 'search.stats.places', count: 0, p: to_words(@results[:total_sources]) %>
	<%= t 'search.stats.time', count: @results[:benchmark].real.round(2) %>
</div>

<% if @results[:hits].empty? %>
	<%= no_search_results %>
	
<% else %>
	<ul class='list' id='result-list'>
		<%= render partial: @results[:hits], locals: { type: @search.categories_array.length > 1 } %>
	</ul>
	<div id='paginator'>
		<%= paginate @paginatable_array, param_name: :p, remote: true %>
	</div>
<% end %>