<% content_for :title do %>
	<%= @search.query %>
<% end %>

<article class='tabbed fullwidth' id='search'>
	<%= render 'categories' %>
	
	<section id='form'>
		<%= image_tag 'gfx/logos/blue_on_transparent_128.png', class: 'large-logo' %>
		
		<%= form_for search_path, method: :get do %>
			<%= hidden_field :search, :id, value: @search.id %>
			<%= hidden_field :search, :query, value: @search.query %>
			<%= hidden_field :search, :categories, value: @search.categories %>
			<%= image_tag 'gfx/logos/blue_on_transparent_32.png', class: 'small-logo' %>
			<%= text_field_tag 'q', '', id: 'query', value: @search.query %>
		<% end %>
	</section>
	
	<section id='loading-results'>
		<%= render 'shared/widgets/loading' %>
	</section>
	
	<%= render 'shared/alert', { title: t('search.error') } %>
	
	<div id='results'></div>
	
	<%= render "shared/ads/#{@search.query.blank? ? 'banner' : 'skyscraper'}" %>
	
</article>