<div class='white full box' id='search-pane'>
	<div class='center'>
		<%= image_tag 'gfx/logos/blue_on_transparent_128.png', class: 'large-logo' %>
	</div>
	<%= hidden_field :search, :id, value: @search.id %>
	<%= hidden_field :search, :query, value: @search.query %>
	<%= form_tag search_path, class: 'search-form', id: 'search-form', method: :get do %>
		<%= image_tag 'gfx/logos/blue_on_transparent_32.png', class: 'small-logo', style: 'display:none;' %>
		<%= text_field_tag 'q', '', placeholder: t('search.placeholder'), class: 'search', id: 'search',
		                   value: @search.query %>
	<% end %>
	
	<div class='center' id='loading-search' style='display:none;'>
		<%= image_tag 'gfx/ajax_loading_large_white.gif', class: 'loading',
			data: { loading: true  } %>
	</div>
	<%= render 'shared/alert', { title: t('search.error') } %>
	<div id='search-results'></div>
</div>