<div id='sidebar'>
	<%
	top_songs = Song.top.limit(5)
	top_artists = Artist.top.limit(5)
	%>

	<% if top_songs.length > 0 %>
		<div class="ingraved box">
			<h1><%=t "side.top_songs.title" %></h1>
			<ul class="vertical" data-field="devices">
				<% top_songs.each do |song| %>
					<%= item song.title, song, "side_song_#{song.id}" %>
				<% end %>
			</ul>
			<p class="message" data-field="no-songs" style='display:none;'>
				<%=t "songs.empty" %>
			</p>
		</div>
	<% end %>

	<%= render 'ads/sidebar' %>

	<% if top_artists.length > 0 %>
		<div class="ingraved box">
			<h1><%=t "side.top_artists.title" %></h1>
			<ul class="vertical" data-field="devices">
				<% top_artists.each do |artist| %>
					<%= item artist.name, artist, "side_artist_#{artist.id}" %>
				<% end %>
			</ul>
			<p class="message" data-field="no-artists" style='display:none;'>
				<%=t "artists.empty" %>
			</p>
		</div>
	<% end %>

	<% if user_signed_in? %>
		<% if current_user.playlists.count > 0 %>
			<div class="ingraved box">
				<h1><%=t "side.playlists.title" %></h1>
				<ul class="vertical" id="playlists">
					<% current_user.playlists.order(:name).each do |playlist| %>
						<%= item playlist.name, playlist, "side_playlist_#{playlist.id}" %>
					<% end %>
				</ul>
				<p class="message" id="no_playlist"<%= "style='display:none;'".html_safe if current_user.playlists.count > 0 %>>
					<%=t "playlists.empty" %>
				</p>
			</div>
		<% end %>
	

		<% if current_user.devices.count > 0 %>
			<div class="ingraved box">
				<h1><%=t "side.devices" %></h1>
				<ul class="vertical" data-list="devices">
					<% current_user.devices.order("updated_at DESC").each do |device| %>
						<%= item device.name, device, "device-#{device.id}-name" %>
					<% end %>
				</ul>
				<p class="message" data-field="no-devices"<%= "style='display:none;'".html_safe if current_user.devices.count > 0 %>>
					<%=t "devices.empty" %>
				</p>
			</div>
		<% end %>

		<div class="ingraved box">
			<h1><%=t "side.remote" %></h1>
			<% if current_user.configurations.count == 0 %>
				<p><%=t "dashboard.remote.empty" %></p>
		
			<% else %>
				<div class="center">
					<%= custom_button_tag t("dashboard.remote.button"), remote_path, "", { :color => :blue } %>
				</div>
			<% end %>
		</div>

	<% end %>
</div>