<%= form_for current_user, url: edit_registration_path(current_user), method: :put do |f| %>
	
	<%= render 'shared/messages' %>
	
	<div class='field'>
		<%= f.label :email %>
		<%= f.email_field :email %>
	</div>
	
	<div class='field'>
		<%= f.label :name_source %>
		<%= f.select :name_source, name_options_for_select %>
		<%= f.text_field :custom_name, class: 'short' %>
	</div>
	
	<div class='field'>
		<%= f.label :image %>
		<%= f.select :image, image_options_for_select, {}, data: { imageselect: true, imageheight: 32 } %>
	</div>
	
	<div class='field'>
		<%= f.label :show_ads %>
		<%= f.select :show_ads, options_for_select([
			[t("settings.ads.all"), "all"],
			[t("settings.ads.text"), "text"],
			[t("settings.ads.none"), "none"]
		], current_user.show_ads) %>
	</div>
	
	<div class='field'>
		<%= label_tag 'edit_password', t(current_user.has_no_password? ? 'settings.create_password' : 'settings.change_password') %>
		<%= check_box_tag "edit_password", "yes", false %>
	</div>
	
	<div id="edit_password_fields">
		<% if current_user.has_password %>
			<div class='field'>
				<%= f.label :current_password %>
				<%= f.password_field :current_plain %>
				<%= f.hidden_field :current_password %>
			</div>
		<% end %>
		<div class='field'>
			<%= f.label :password %>
			<%= f.password_field :plain, data: { strength: 'crack-time', submitOnEnter: 'true' } %>
			<%= f.hidden_field :password %>
			<div style="display:none;" id="crack-time">
				<span></span>
				<%= image_tag "gfx/tooltip.png", :id => "crack-time-img" %>
			</div>
		</div>

		<div class='field'>
			<%= f.label :password_confirmation %>
			<%= f.password_field :plain_confirmation %>
			<%= f.hidden_field :password_confirmation %>
		</div>
		
	</div>
	
	<%= link_to '#', class: 'button', data: { button: :submit } do %>
		<span><%=t 'save' %></span>
	<% end %>
	
<% end %>