<div id="login-links">
	<%- if request.format == :embedded and controller_name != 'sessions' %>
	  <%= link_to t("pages.users.sessions.new.link"), new_user_session_path, class: "devise-link" %>
	<% end -%>

	<%- if request.format == :embedded and controller_name != "registrations" %>
	  <%= link_to t("pages.users.registrations.new.link"), new_user_registration_path, class: "devise-link" %>
	<% end -%>
	
	<%- if devise_mapping.recoverable? && controller_name != "passwords" %>
		<%= link_to t("pages.users.passwords.new.link"), new_user_password_path, :class => "devise-link" %>
	<% end %>

	<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != "unlocks" %>
		<%= link_to t("pages.users.unlocks.link"), new_user_unlock_path, :class => "devise-link" %>
	<% end %>

	<%- if controller_name != "registrations" and controller_name != 'sessions' %>
		<%= link_to t("pages.users.sessions.new.link"), new_user_session_path, :class => "devise-link" %>
	<% end %>
</div>