<% tabs = ['general', 'accounts'] %>

<article class='tabbed'>
	<% tabs.each do |tab| %>
		<section data-content='<%= tab %>'>
			<h1><%= t "pages.users.registrations.edit.#{tab}.title" %></h1>
			<%= render "users/registrations/settings/#{tab}" %>
		</section>
		<% end %>
	
	<aside class='tabs'>
		<section>
			<% tabs.each do |tab| %>
				<div class='tab' data-tab='<%= tab %>' title='<%=t "pages.users.registrations.edit.#{tab}.description" %>'>
					<%=t "pages.users.registrations.edit.#{tab}.link" %>
				</div>
			<% end %>
		</section>
	</aside>
</article>