<% content_for :title do -%>
	<%= @user.name %>
<% end -%>

<% tabs = ['recent', 'weekly', 'all_time', 'playlists', 'info'] %>

<article class='tabbed fullwidth'>
	<section class='head'>
		<div class='left'>
			<div class='top'></div>
			<div class='line'></div>
			<div class='bottom'>
				<span><%=t 'profile.type.' + (@user.admin? ? 'admin' : 'user') %></span>
			</div>
		</div>
		<div class='right'>
			<div class='top'>
				<h1><%=d @user.name %></h1>
			</div>
			<div class='line'></div>
			<div class='bottom'>
				<span>
					<%=t "profile.points" %>:
					<%= number_with_delimiter @user.points, locale: current_locale %>
				</span>
				<span>
					<%=t "profile.listens" %>:
					<%= number_with_delimiter @user.listens.count, locale: current_locale %>
				</span>
			</div>
		</div>
		<div class='image'>
			<div class='image-border'>
				<%= image_tag @user.picture %>
			</div>
		</div>
	</section>
	
	<section class='tabs'>
		<% tabs.each do |tab| %>
			<span class='tab' data-tab='<%= tab %>' title='<%=t "pages.users.registrations.show.#{tab}.description", username: @user.name, usernames: @user.name.possessive %>'>
				<%=t "pages.users.registrations.show.#{tab}.link" %>
			</span>
		<% end %>
	</section>
	
	<% tabs.each do |tab| %>
		<section data-content='<%= tab %>'>
			<h1><%= t "pages.users.registrations.show.#{tab}.title" %></h1>
			<%= render "users/registrations/profile/#{tab}" %>
		</section>
	<% end %>
	
</article>