<li class='clickable event' data-type='hit'>
	<div class='image'>
		<%= image_tag event.image, alt: event %>
	</div>
	<div class='content'>
		<h3><%= event %></h3>
		<p>An event<%==" with #{top_list(event.artists, limit: 3)}" if event.artists.top?%>
		<p>In <%= event.venue %> at <%= event.start_date %></p>
	</div>
</li>