<li class='item' data-href='<%= url_for event %>' data-resource-type='event' data-resource-id='<%= event.id %>'
	data-resource-url='<%= url_for event %>'>
	
	<!-- image -->
	<%= image_tag event.image(:huge), data: { field: :picture } %>
	
	<!-- meta data -->
	<div class='overlay'>
		<span class='title' data-field='display'><%= event %></span>
		
		<% if defined? type and type %>
			<span class='type' data-list-mode='grid' data-type='event'><%= t 'events.singular' %></span>
		<% end %>
		
		<% if event.artists.any? %>
			<span class='description'>
				<%=t('artists.plural').capitalize %>: <%= top_list(event.artists, limit: 3) %>
			</span>
		<% end %>
		
	</div>
	
	<!-- controls -->
	<div class='action-bar'>
		
		<% if defined? type and type %>
			<span class='type' data-list-mode='list' data-type='event'><%= t 'events.singular' %></span>
		<% end %>
		
	</div>
</li>