<article class='small' id='login'>
	<section>
		<h1 data-mode='login'><%= t "pages.users.sessions.new.title" %></h1>
		<h1 data-mode='join'><%= t "pages.users.registrations.new.title" %></h1>
		
		<h2 class='line-behind'><%= t 'login.services' %></h2>
		
		<%= render 'shared/login/services' %>
		
		<h2 class='line-behind'><%= t 'login.form' %></h2>
		
		<%= render 'shared/messages' %>
		
		<div class='center'>
			<%= form_for resource, as: resource_name, url: session_path(resource_name),
					data: {
						login_url: session_path(resource_name),
						join_url: registration_path(resource_name)
					} do |f| %>
				
				<%= f.hidden_field :remember_me, value: 1 %>
			
				<div class='field'>
					<%= f.email_field :email, placeholder: t("dialog.email_placeholder"), autofocus: true %>
				</div>
				
				<div class='field'>
					<%= f.password_field :plain, placeholder: t("dialog.password_placeholder"),
						data: { strength: 'crack-time', submitOnEnter: 'true' } %>
					<%= f.hidden_field :password %>
					<div style="display:none;" id="crack-time">
						<span></span>
						<%= image_tag "gfx/tooltip.png", :id => "crack-time-img" %>
					</div>
				</div>
				
				<div data-mode='join'>

					<div class='field'>
						<%= f.password_field :plain_confirmation, placeholder: t("dialog.password_confirm_placeholder") %>
						<%= f.hidden_field :password_confirmation %>
					</div>
					
					<div class='field'>
						<%= recaptcha_tags ssl: true, display: { theme: "white", lang: full_locale(I18n.locale),
							custom_translations:
							{
								instructions_visual: t("recaptcha.instructions_visual"),
								instructions_audio:  t("recaptcha.instructions_audio"),
								play_again:          t("recaptcha.play_again"),
								cant_hear_this:      t("recaptcha.cant_hear_this"),
								visual_challenge:    t("recaptcha.visual_challenge"),
								audio_challenge:     t("recaptcha.audio_challenge"),
								refresh_btn:         t("recaptcha.refresh_btn"),
								help_btn:            t("recaptcha.help_btn")
							} }
						%>
					</div>
					
					<%= link_to '#login', class: 'button', data: { button: :toggle } do %>
						<%= image_tag 'gfx/buttons/login.png' %>
						<span><%=t 'pages.users.sessions.new.toggle' %></span>
					<% end %>
				
					<%= link_to '#', class: 'button secondary', data: { button: :submit } do %>
						<%= image_tag 'gfx/buttons/join.png' %>
						<span><%=t 'pages.users.registrations.new.link' %></span>
					<% end %>
					
				</div>
				
				<div data-mode='login'>
					<%= link_to '#join', class: 'button', data: { button: :toggle } do %>
						<%= image_tag 'gfx/buttons/join.png' %>
						<span><%=t 'pages.users.registrations.new.toggle' %></span>
					<% end %>
				
					<%= link_to '#', class: 'button secondary', data: { button: :submit } do %>
						<%= image_tag 'gfx/buttons/login.png' %>
						<span><%=t 'pages.users.sessions.new.link' %></span>
					<% end %>
				</div>
				
			<% end %>
				
			<%= render 'shared/login/links' %>
		</div>
		
	</section>
</article>