<article class='small'>
	<section>
		<h1><%= t "pages.users.passwords.edit.title" %></h1>
		
		<div class='center'>
			<%= form_for resource, as: resource_name, url: edit_password_path(resource_name), :html => { :method => :put } do |f| %>
		
				<%= render 'shared/messages' %>
		
				<%= f.hidden_field :reset_password_token %>
				<%= f.hidden_field :email, :value => @email %>
			
				<div class='field'>
					<%= f.password_field :password, placeholder: t("dialog.password_choose_placeholder"), autofocus: true,
					 	data: { strength: 'crack-time' } %>
					<%= f.hidden_field :password %>
					<div style="display:none;" id="crack-time">
						<span></span>
						<%= image_tag "gfx/tooltip.png", id: "crack-time-img" %>
					</div>
				</div>
				
				<div class='field'>
					<%= f.password_field :plain_confirmation, placeholder: t("dialog.password_confirm_placeholder") %>
					<%= f.hidden_field :password_confirmation %>
				</div>
			
				<%= link_to '#', class: 'button secondary', data: { button: :submit } do %>
					<%= image_tag 'gfx/buttons/login.png' %>
					<span><%=t 'pages.users.passwords.edit.link' %></span>
				<% end %>
				
			<% end %>
				
			<%= render 'shared/login/links' %>
		</div>
		
	</section>
</article>