<article class='small'>
	<section>
		<h1><%= t "pages.users.passwords.new.title" %></h1>
		
		<div class='center'>
			<%= form_for resource, as: resource_name, url: password_path(resource_name) do |f| %>
		
				<%= render 'shared/messages' %>
			
				<div class='field'>
					<%= f.email_field :email, placeholder: t("dialog.email_placeholder"), autofocus: true %>
				</div>
			
				<%= link_to '#', class: 'button secondary', data: { button: :submit } do %>
					<%= image_tag 'gfx/buttons/question.png' %>
					<span><%=t 'pages.users.passwords.new.link' %></span>
				<% end %>
				
			<% end %>
				
			<%= render 'shared/login/links' %>
		</div>
		
	</section>
</article>