<li class='item' data-href='<%= url_for album %>' data-object='album-<%= album.id %>'>
	
	<!-- image -->
	<img data-field='picture' src='<%= album.image(:huge) %>'/>
	
	<!-- meta data -->
	<div class='overlay'>
		<span class='title' data-field='title'><%= album %></span>
		
		<% if defined? type and type %>
			<span class='type' data-list-mode='grid' data-type='album'><%= t 'albums.singular' %></span>
		<% end %>
		
		<% if album.artists.any? %>
			<span class='description' data-field='description'>
				<%= album.artist_names %>
			</span>
		<% end %>
		
	</div>
	
	<!-- controls -->
	<div class='hidden-overlay'>
		
		<% if defined? type and type %>
			<span class='type' data-list-mode='list' data-type='album'><%= t 'albums.singular' %></span>
		<% end %>
		
		<span class='shadow dropdown add'>
			<%= link_to 'javascript:void(0)', title: t('playlists.add.description') do %>
				<span data-list-mode='list'><%= t 'playlists.add.menu' %> ▾</span>
				<span data-list-mode='grid'>+</span>
			<% end %>
			<ul class='dropdown-menu'>
				<li>
					<%= link_to 'Foo', 'javascript:void(0)', title: t('playlists.add.link', playlist: 'Foo'),
					 	data: { add_to_resource: 'playlist', add_to_id: '1', add_id: '9' } %>
				</li>
			</ul>	
		</span>
		
		<% if defined? deletable %>
			<span class='remove'>
				<%= link_to 'javascript:void(0)', title: t('pages.albums.destroy.description'),
				 	data: {
						confirm: t('pages.albums.destroy.confirm', album: album),
						remove_resource: 'album', remove_id: album.id
					} do %>
					<span data-list-mode='list'><%= t 'pages.albums.destroy.link' %></span>
					<span data-list-mode='grid'>x</span>
				<% end %>
			</span>
		<% end %>
	</div>
</li>