<li class='item' data-href='<%= url_for album %>' data-resource-id='<%= album.id %>' data-resource-type='album'
	data-resource-url='<%= url_for album %>'>
	
	<!-- image -->
	<div class='album-back'>
		<%= image_tag album.image(:huge), data: { field: :picture } %>
		<div class='album-front'></div>
	</div>
	
	<!-- meta data -->
	<div class='overlay'>
		<span class='title' data-field='display'><%= album %></span>
		
		<% if defined? type and type %>
			<span class='type' data-list-mode='grid' data-type='album'><%= t 'albums.singular' %></span>
		<% end %>
		
		<% if album.artists.any? %>
			<span class='description' data-field='subtitle'>
				<%= album.artist_names %>
			</span>
		<% end %>
		
	</div>
	
	<!-- controls -->
	<div class='action-bar'>
		
		<% if defined? type and type %>
			<span class='type' data-list-mode='list' data-type='album'><%= t 'albums.singular' %></span>
		<% end %>
		
		<% if defined? deletable %>
			<span class='remove action'>
				<%= link_to '', title: t('pages.albums.destroy.description'),
				 	data: {
						confirm: t('pages.albums.destroy.confirm', album: album),
						remove_resource: 'album', remove_id: album.id
					} do %>
					<span data-list-mode='list'><%= t 'pages.albums.destroy.link' %></span>
					<span data-list-mode='grid'>x</span>
				<% end %>
			</span>
		<% end %>
	</div>
</li>