<% content_for :title do %>
	<%= @album.title %>
<% end %>

<% content_for :description do %>
	<%=t 'pages.albums.show.description', album: @album, artists: @album.artists.to_sentence %>
<% end %>

<% content_for :header do %>
	<meta property="og:title" content="<%=h @album.title %>"/>
	<meta property="og:type" content="music.album"/>
	<meta property="og:image" content="<%= @album.image %>"/>
	<meta property="og:url" content="<%= album_url(@album) %>"/>
	<meta property="og:description" content="<%=t 'albums.description', artists: @album.artists.to_sentence %>"/>
	<% @album.songs.each do |s| %>
		<meta property="music:song" content="<%= song_url(s) %>"/>
	<% end %>
<% end %>

<article class='tabbed' data-resource-type='album' data-resource-id='<%= @album.id %>' data-resource-url='<%= url_for @album %>'>
	<section class='head'>
		<div class='left'>
			<div class='top'></div>
			<div class='line'></div>
			<div class='bottom'>
				<span><%=t 'albums.singular' %></span>
			</div>
		</div>
		<div class='right'>
			<div class='top'>
				<h1 data-field='display'><%=d @album.title %></h1>
				<%= render partial: 'shared/social' %>
			</div>
			<div class='line'></div>
			<div class='bottom'>
				<span>
					<%= link_to_association @album.artists %>
				</span>
			</div>
		</div>
		<div class='image'>
			<div class='image-border'>
				<%= image_tag @album.image(:huge), data: { field: :picture } %>
			</div>
		</div>
	</section>
	
	<!-- we don't have any tabs, but need this to create the shadow effect -->
	<section class='tabs'></section>
	
	<aside>
		<%= render 'albums/sections/stats' %>
		<%= render 'albums/sections/info' %>
	</aside>
	
	<%= render 'albums/sections/songs' %>
	
</article>