<li class='item' data-href='<%= url_for device %>' data-resource-type='device' data-resource-id='<%= device.id %>'
	data-resource-url='<%= url_for device %>'>
	
	<!-- image -->
	<%= image_tag device.image(:large), data: { field: :picture } %>
	
	<!-- meta data -->
	<div class='overlay'>
		<span class='title' data-field='display'><%= device %></span>
		
		<% if defined? type and type %>
			<span class='type' data-list-mode='grid' data-type='device'><%= t 'devices.singular' %></span>
		<% end %>
		
		<span class='description'>
			<%= device.app %>
		</span>
		
	</div>
	
	<!-- controls -->
	<div class='action-bar'>
		
		<% if defined? type and type %>
			<span class='type' data-list-mode='list' data-type='device'><%= t 'devices.singular' %></span>
		<% end %>
		
		<span class='remove action'>
			<%= link_to '', title: t('pages.devices.destroy.description', device: device), data: {
				ajax_call: :delete,
				ajax_delete_url: device_url(device, format: :json),
				ajax_delete_method: 'delete',
				confirm: t('pages.devices.destroy.confirm', device: device)
			} do %>
				<span data-list-mode='list'><%= t 'pages.devices.destroy.link' %></span>
				<span data-list-mode='grid'>x</span>
			<% end %>
		</span>
		
	</div>
</li>