<% content_for :title do %>
	<%= @device.name %>
<% end %>

<% content_for :description do %>
	<%=t 'pages.devices.show.description', device: @device, app: @device.app %>
<% end %>

<article class='tabbed' data-resource-type='device' data-resource-id='<%= @device.id %>' data-resource-url='<%= url_for @device %>'>
	<section class='head'>
		<div class='left'>
			<div class='top'></div>
			<div class='line'></div>
			<div class='bottom'>
				<span><%=t 'devices.singular' %></span>
			</div>
		</div>
		<div class='right'>
			<div class='top'>
				<h1 data-field='display'><%=d @device.name %></h1>
			</div>
			<div class='line'></div>
			<div class='bottom'>
				<span>
					<%= link_to @device.app %>
				</span>
			</div>
		</div>
		<div class='image'>
			<div class='image-border'>
				<%= image_tag @device.image(:huge), data: { field: :picture } %>
			</div>
		</div>
	</section>
	
	<!-- we don't have any tabs, but need this to create the shadow effect -->
	<section class='tabs'></section>
	
	<%= render 'devices/sections/remote' %>
	
	<aside>
		<%= render 'devices/sections/info' %>
	</aside>
	<%= render 'devices/sections/map' %>
	
</article>