<section>
	<h1><%= t 'albums.meta.stats' %></h1>
	<dl>
		<dt><%= t 'albums.meta.songs' %></dt>
		<dd><%= number_with_delimiter @album.songs.length, locale: current_locale %></dd>
		<dt><%= t 'albums.meta.listens' %></dt>
		<dd><%= number_with_delimiter @album.listens.length, locale: current_locale %></dd>
	</dl>
</section>