<li class='item' data-href='<%= url_for artist %>' data-resource-type='artist' data-resource-id='<%= artist.id %>'
	data-resource-url='<%= url_for artist %>'>
	
	<!-- image -->
	<%= image_tag artist.image(:huge), data: { field: :picture } %>
	
	<!-- meta data -->
	<div class='overlay'>
		<span class='title' data-field='display'><%= artist %></span>
		
		<% if defined? type and type %>
			<span class='type' data-list-mode='grid' data-type='artist'><%= t 'artists.singular' %></span>
		<% end %>
		
		<% if artist.songs.any? %>
			<span class='description'>
				<%=t('songs.plural').capitalize %>: <%= top_list(artist.songs, limit: 3) %>
			</span>
		<% end %>
		
	</div>
	
	<!-- controls -->
	<div class='action-bar'>
		
		<% if defined? type and type %>
			<span class='type' data-list-mode='list' data-type='artist'><%= t 'artists.singular' %></span>
		<% end %>
		
	</div>
</li>