<li class='clickable artist' data-type='hit'>
	<div class='image'>
		<%= image_tag artist.image, alt: artist %>
	</div>
	<div class='content'>
		<h3><%= artist %></h3>
		
		<% lines = 0 %>
		<% if artist.genres.top? %>
			<% lines += 1 %>
			<p><%=t('genres.label')%><%= top_list(artist.genres, limit: 3) %></p>
		<% end %>
		
		<% if artist.songs.top? %>
			<% lines += 1 %>
			<p><%=t('songs.label')%><%= top_list(artist.songs, limit: 3) %></p>
		<% end %>
		
		<% if artist.albums.top? and lines >= 2 %>
			<p><%=t('albums.label')%><%= top_list(artist.albums, limit: 3) %></p>
		<% end %>
	</div>
</li>