<li class='clickable artist' data-type='hit'>
	<div class='image'>
		<%= image_tag artist.image, alt: artist.name %>
	</div>
	<div class='content'>
		<h3><%= artist.display %></h3>
		
		<% lines = 0 %>
		<% unless true or artist.genres.empty? %>
			<% lines += 1 %>
			<p>Genres: <%= artist.genres.map { |x| link_to(x.title, x) }.to_sentence %></p>
		<% end %>
		
		<% unless artist.songs.empty? %>
			<% lines += 1 %>
			<p>Songs: <%== artist.songs.map { |x| link_to(x.title, x) }.to_sentence %></p>
		<% end %>
		
		<% unless artist.songs.empty? and lines >= 2 %>
			<p>Albums: <%== artist.albums.map { |x| link_to(x.title, x) }.to_sentence %></p>
		<% end %>
	</div>
</li>