<li class='clickable artist' data-type='hit' data-href='<%= url_for(artist) %>'>
	<div class='image'>
		<%= image_tag artist.image, alt: artist %>
	</div>
	<div class='content'>
		<h3><%= link_to artist.to_s, artist %></h3>
		
		<% lines = 0 %>
		<% if artist.genres.top? %>
			<% lines += 1 %>
			<p><%=t('genres.plural').capitalize %>: <%= top_list(artist.genres, limit: 3) %></p>
		<% end %>
		
		<% if artist.songs.top? %>
			<% lines += 1 %>
			<p><%=t('songs.plural').capitalize %>: <%= top_list(artist.songs, limit: 3) %></p>
		<% end %>
		
		<% if artist.albums.top? and lines >= 2 %>
			<p><%=t('albums.plural').capitalize %>: <%= top_list(artist.albums, limit: 3) %></p>
		<% end %>
	</div>
</li>