<li class='clickable artist' data-type='hit' data-href='<%= url_for(artist) %>'>
	<div class='image'>
		<%= image_tag artist.image, alt: artist, data: { square: 118 } %>
	</div>
	<div class='content'>
		<h3><%= link_to artist.to_s, artist %></h3>
		
		<dl class='hidden'>
			<dt>listens:</dt>
			<dd><%= artist.listens.count %></dd>
			<dt>songs:</dt>
			<dd><%= artist.songs.count %></dd>
			<dt>albums:</dt>
			<dd><%= artist.albums.count %></dd>
		</dl>
	</div>
</li>