<% owner = current_user.owns?(@playlist) %>
<section>
	<h1><%= t 'playlists.meta.header' %></h1>
	<dl>
		<dt><%= t 'playlists.meta.title' %></dt>
		<%= editable_field 'dd', @playlist, 'name', @playlist.name, disabled: !owner %>
		
		<dt><%= t 'playlists.meta.public' %></dt>
		<dd>
			<%= check_box_tag 'playlist[is_public]', 1, @playlist.is_public, data: {
				ajax_url: playlist_path(@playlist, format: :json),
				field: :public
			} %>
		</dd>
	</dl>
</section>