<%
tabs = ['weekly', 'all_time', 'recent'] unless local_assigns.has_key?(:tabs)
unless local_assigns.has_key?(:categories)
	categories = [''] # global
	categories << 'user' if user_signed_in?
end
%>

<article class='tabbed'>
	
	<% categories.each do |cat| %>
		<% tabs.each do |tab| %>
			<%
			t = cat.present? ? "#{cat}_#{tab}" : tab
			collection = instance_variable_get(:"@#{t}")
			%>
			<% if collection %>
				<%
				l = { collection: collection, resource: resource }
				l.merge!(locals[t.to_sym]) if local_assigns.has_key?(:locals) and locals.has_key?(t.to_sym)
				%>
				<section data-content='<%= t %>'>
					<h1><%= t "pages.#{resource}.index.#{t}.title" %></h1>
					<%= render partial: 'shared/lists/list', locals: l %>
				</section>
			<% end %>
		<% end %>
	<% end %>
	
	<aside class='tabs'>
		<section>
			<% categories.each do |cat| %>
				<% if cat.present? %>
					<h2><%= t "pages.#{resource}.index.categories."+cat %></h2>
				<% end %>
				<% tabs.each do |tab| %>
					<% t = cat.present? ? "#{cat}_#{tab}" : tab %>
					<% if instance_variable_get(:"@#{t}") %>
						<div class='tab' data-tab='<%= t %>' title='<%=t "pages.#{resource}.index.#{t}.description" %>'>
							<%=t "pages.#{resource}.index.#{t}.link" %>
						</div>
					<% end %>
				<% end %>
			<% end %>
		</section>
	</aside>
	
</article>