<li class='item' data-href='<%= url_for genre %>' data-resource-id='<%= genre.id %>' data-resource-type='genre'
	data-resource-url='<%= url_for genre %>'>
	
	<!-- image -->
	<%= image_tag genre.image(:huge), data: { field: :picture } %>
	
	<!-- meta data -->
	<div class='overlay'>
		<span class='title' data-field='display'><%= genre %></span>
		
		<% if defined? type and type %>
			<span class='type' data-list-mode='grid' data-type='genre'><%= t 'genres.singular' %></span>
		<% end %>
		
		<% if genre.songs.any? %>
			<span class='description'>
				<%= t('songs.plural').capitalize %>: <%= link_to_association genre.songs.top.limit(3) %>
			</span>
		<% end %>
		
	</div>
	
	<!-- controls -->
	<div class='action-bar'>
		
		<% if defined? type and type %>
			<span class='type' data-list-mode='list' data-type='genre'><%= t 'genres.singular' %></span>
		<% end %>
	</div>
</li>