<% content_for :title do %>
	<%= @genre.name %>
<% end %>

<% content_for :description do %>
	<%=t 'pages.genres.show.description', genre: @genre %>
<% end %>

<% content_for :header do %>
	<meta property="og:title" content="<%=h @genre.name %>"/>
	<meta property="og:type" content="music.album"/>
	<meta property="og:image" content="<%= @genre.image %>"/>
	<meta property="og:url" content="<%= genre_url(@genre) %>"/>
	<meta property="og:description" content="<%=t 'pages.genres.show.description', genre: @genre %>"/>
<% end %>

<article class='tabbed' data-resource-type='genre' data-resource-id='<%= @genre.id %>' data-resource-url='<%= url_for @genre %>'>
	<section class='head'>
		<div class='left'>
			<div class='top'></div>
			<div class='line'></div>
			<div class='bottom'>
				<span><%=t 'genres.singular' %></span>
			</div>
		</div>
		<div class='right'>
			<div class='top'>
				<h1 data-field='display'><%=d @genre.name %></h1>
				<%= render partial: 'shared/social' %>
			</div>
			<div class='line'></div>
			<div class='bottom'>
				<span>
					<%= t('songs.plural').capitalize %>: <%= link_to_association @genre.songs.top.limit(3) %>
				</span>
			</div>
		</div>
		<div class='image'>
			<div class='image-border'>
				<%= image_tag @genre.image(:huge), data: { field: :picture } %>
			</div>
		</div>
	</section>
	
	<!-- we don't have any tabs, but need this to create the shadow effect -->
	<section class='tabs'></section>
	
	<aside>
		<%= render 'genres/sections/stats' %>
		<%= render 'genres/sections/info' %>
	</aside>
	
	<%= render 'genres/sections/songs' %>
	<%= render 'genres/sections/artists' %>
	
</article>