<%= render "layouts/common" %>

	<link href="https://fonts.googleapis.com/css?family=IM+Fell+French+Canon" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFQ6PulvKZ8cd4dK4Ex1HLkiVHXzp_izQ&sensor=false"></script>
	
	<%= stylesheet_link_tag "application" %>
	<%= stylesheet_link_tag "chrome" if @browser == "chrome" %>
	<% if @track %>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-15959893-4']);
			_gaq.push(['_setDomainName', 'stoffiplayer.com']);
			_gaq.push(['_setCustomVar', 1, 'UserType', '<%=user_type%>', 2]);
			_gaq.push(['_trackPageview']);
			_gaq.push(['_setAllowLinker', true]);
			_gaq.push(['_trackPageLoadTime']);

			(function() {
			  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	<% end %>

	<!-- Load Twitter JS-API asynchronously -->
	<script type="text/javascript" charset="utf-8">	
	window.twttr = (function (d,s,id)
	{
		var t, js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
		js.src="//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
		return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
	}(document, "script", "twitter-wjs"));

	// Wait for the asynchronous resources to load
	twttr.ready(function(twttr)
	{
		_ga.trackTwitter(); //Google Analytics tracking
	});
	</script>
</head>

<body>
	
	<%= render "shared/header" %>
	
	<div class="clear"></div>

	<div id="root"><div id="wrap">
		<%= content_for?(:content) ? yield(:content) : yield %>
		<div class="clear">&nbsp;</div>
	</div></div>
	
	<%= render "shared/footer" %>
	
	<div id="dimmer" onclick="closeDialog();" style="display: none;"></div>

	<div id="dialog" class="left" style="display: none;">
	</div>
</body>
</html>
