<h2><%=t 'playlists.new.title' %></h2>
<p><%= t 'playlists.new.description' %></p>
<%= form_for(@playlist, remote: true) do |f| %>

	<%= render 'shared/messages' %>
	
	<div class='field'>
		<%= f.text_field :name, autofocus: true %>
	</div>
	
	<%= link_to '#', class: 'button', data: { button: :submit } do %>
		<span><%=t 'save' %></span>
	<% end %>
<% end %>