<section>
	<h1><%= t 'genres.meta.stats' %></h1>
	<dl>
		<dt><%= t 'genres.meta.songs' %></dt>
		<dd><%= number_with_delimiter @genre.songs.length, locale: current_locale %></dd>
		<dt><%= t 'genres.meta.artists' %></dt>
		<dd><%= number_with_delimiter @genre.artists.length, locale: current_locale %></dd>
		<dt><%= t 'genres.meta.listens' %></dt>
		<dd><%= number_with_delimiter @genre.listens.length, locale: current_locale %></dd>
	</dl>
</section>