<section>
	<h1><%= t 'events.meta.info' %></h1>
	<dl>
		<dt><%= t 'events.meta.name' %></dt>
		<%= editable_field 'dd', @event, 'name', @event.name, disabled: !current_user.admin? %>
	</dl>
	<dl>
		<dt><%= t 'events.meta.venue' %></dt>
		<%= editable_field 'dd', @event, 'venue', @event.venue, disabled: !current_user.admin? %>
	</dl>
	<dl>
		<dt><%= t 'events.meta.date' %></dt>
		<%= editable_field 'dd', @event, 'start', @event.start, disabled: !current_user.admin? %>
	</dl>
</section>