<%= link_to download_path, class: 'button' do %>
	<%= image_tag 'gfx/buttons/arrow_down.png' %>
	<div>
		<h2><%= t 'download_button.title' %></h2>
		<p>
			<span><%= t 'download_button.os.windows7' %></span>
			<span><%= t 'download_button.size' %>: 5.1 Mb</span>
		</p>
	</div>
<% end %>