<div id='map-wrapper'>
	<div id="map" data-map data-map-zoom='<%=local_assigns[:zoom]%>'
		data-map-tilt='<%=local_assigns[:tilt]%>'
		data-map-longitude='<%=local_assigns[:longitude]%>'
		data-map-latitude='<%=local_assigns[:latitude]%>'
		data-map-type='<%=local_assigns[:type]%>'
		data-map-marker='<%=local_assigns[:marker]%>'></div>
		
	<% if defined? link_text and defined? address %>
		<%= link_to link_text,  "http://maps.google.com/maps?q=#{address}", class: 'fullsize' %>
	<% end %>
</div>