<%
services = [
	{
		name: 'Twitter',
		width: 21
	},
	{
		name: 'Facebook',
		width: 10
	},
	{
		name: 'Google',
		path: 'google_oauth2',
		width: 15
	},
	{
		name: 'Vimeo',
		width: 17
	},
	{
		name: 'LinkedIn',
		path: 'linked_in',
		width: 19
	},
	{
		name: 'SoundCloud',
		width: 26
	}
]
%>

<header>
	<nav>
		<%= link_to image_tag("gfx/home.png"), root_path, class: "logo" + (@tab == 'index' ? ' active' : '') %>
		<% ['news', 'get', 'tour'].each do |link| %>
			<% opts = { title: t("pages.pages.#{link}.description") } %>
			<% opts[:class] = 'active' if @tab == link %>
			<%= link_to t("pages.pages.#{link}.link"), send("#{link}_path"), opts %>
		<% end %>
		
		<div class="separator">&nbsp;</div>
		
		<% if user_signed_in? %>
			<div class="dropdown">
				<%= link_to t("usermenu")+" ▾", 'javascript:void(0)', class: "dropdown-label" %>
				<ul class="dropdown-menu">
					<li>
						<%= link_to dashboard_path, title: t('pages.users.registrations.dashboard.description') do %>
							<div class="extended">
								<%= image_tag current_user.picture(:size => :small), size: '32x32' %>
								<h1><%= current_user.name %></h1>
								<h2><%=t "dashboard.meta" %></h2>
							</div>
							<div class='minimal'>
								<%= t 'pages.users.registrations.dashboard.link' %>
							</div>
						<% end %>
					</li>
					<li class="separator"></li>
					<li><%= link_to t("pages.users.registrations.show.link"), user_path, title: t("pages.users.registrations.show.description", usernames: t('your')) %></li>
					<li><%= link_to t("pages.playlists.index.link"), playlists_path, title: t("pages.playlists.index.description") %></li>
					<li><%= link_to t("pages.pages.remote.link"), remote_path, title: t("pages.pages.remote.description") %></li>
					<li class="separator"></li>
					<li><%= link_to t("pages.users.registrations.edit.link"), edit_user_registration_path, title: t("pages.users.registrations.edit.description") %></li>
					<li><%= link_to t("pages.users.sessions.destroy.link"), destroy_user_session_path %></li>
				</ul>
			</div>
		
		<% else %>
			<%= link_to t("pages.users.sessions.new.link"), new_user_session_path, title: t("pages.users.sessions.new.description") %>
			<% services.each do |s| %>
				<%= link_to image_tag("auth_buttons/#{s[:name].downcase}_16_white.png", width: s[:width], height: 16),
					s[:path] || s[:name].downcase, class: 'auth', title: t('auth.login', service: s[:name])%>
			<% end %>
		<% end %>
			
	</nav>
</header>
