<div class="social-buttons">
	<div id="fb-root"></div>
	
	<!-- +1 button -->
	<span class="plus-button">
		<% if defined? google_name and google_name %>
			<div class="g-plusone" data-href="https://plus.google.com/<%= google_name %>"
				data-size="medium" data-lang="<%=langtag(I18n.locale)%>">
			</div>
		<% else %>
			<div class="g-plusone" data-size="medium" data-lang="<%langtag(I18n.locale)%>"
				data-width="50">
			</div>
		<% end %>
	</span>
	
	<!-- like button -->
	<span class="like-button">
		<% if defined? facebook_name and facebook_name %>
			<div class="fb-like"
				data-send="false" data-layout="button_count" data-width="80" data-show-faces="false"
				data-font="segoe ui" data-href="https://www.facebook.com/<%= facebook_name %>">
			</div>
		<% else %>
			<div class="fb-like"
				data-send="false" data-layout="button_count" data-width="50"
				data-show-faces="false" data-font="segoe ui">
			</div>
		<% end %>
	</span>
	
	<!-- tweet button -->
	<span class="tweet-button">
		<% if defined? twitter_name and twitter_name %>
			<a href="https://twitter.com/<%= twitter_name %>" class="twitter-follow-button"
				data-show-count="false" data-lang="<%=langtag(I18n.locale)%>">Follow @<%= twitter_name %></a>
		<% else %>
			<a href="https://twitter.com/share" class="twitter-share-button"
				data-via="StoffiPlayer" data-lang="<%=langtag(I18n.locale)%>">Tweet</a>
		<% end %>
	</span>
</div>