<section>
	<h1><%= t 'devices.meta.info' %></h1>
	<dl>
		<dt><%= t 'devices.meta.name' %></dt>
		<%= editable_field 'dd', @device, 'name', @device.name, disabled: false %>
		
		<dt><%= t 'devices.meta.status' %></dt>
		<dd><%= t "devices.status.#{@device.status}" %></dd>
		
		<dt><%= t 'devices.meta.app' %></dt>
		<dd>
			<%= image_tag @device.app.image(:tiny), class: :icon %>
			<%= link_to @device.app, @device.app %>
		</dd>
		
		<dt><%= t 'devices.meta.version' %></dt>
		<dd><%= @device.version %></dd>
		
		<dt><%= t 'devices.meta.last_request' %></dt>
		<dd data-tooltip="<%= t 'devices.request_tooltip',
			date: l(Date.parse(@device.updated_at.to_s), format: :short),
			time: l(Time.parse(@device.updated_at.to_s), format: :short),
			country: country(@device.last_ip),
			ip: @device.last_ip,
			network: network(@device.last_ip)
		%>">
			<%= t 'devices.request_html',
				ago: time_ago_in_words(@device.updated_at).capitalize,
				origin: city_with_flag(@device.last_ip)
			%>
		</dd>
	</dl>
</section>