<section>
	<h1><%= t 'artists.meta.stats' %></h1>
	<dl>
		<dt><%= t 'artists.meta.listens' %></dt>
		<dd><%= number_with_delimiter @artist.listens.length, locale: current_locale %></dd>
		
		<dt><%= t 'artists.meta.songs' %></dt>
		<dd><%= number_with_delimiter @artist.songs.length, locale: current_locale %></dd>
	</dl>
</section>