<section>
	<h1><%= t 'songs.meta.header' %></h1>
	<dl>
		<dt><%= t 'songs.meta.title' %></dt>
		<%= editable_field 'dd', @song, 'title', @song.title, disabled: admin? %>
	
		<dt><%= t 'songs.meta.artists' %></dt>
		<%= editable_field 'dd', @song, 'artists', @song.artists, disabled: admin? do %>
			<span class='value'><%= link_to_association(@song.artists) || '-' %></span>
		<% end %>
	
		<dt><%= t 'songs.meta.length' %></dt>
		<%= editable_field 'dd', @song, 'length', seconds_to_duration(@song.length), disabled: true %>
	
		<dt><%= t 'songs.meta.genres' %></dt>
		<%= editable_field 'dd', @song, 'genres', @song.genres, disabled: admin? do %>
			<span class='value'><%= link_to_association(@song.genres) || '-' %></span>
		<% end %>
		
		<dt><%= t 'songs.meta.listens' %></dt>
		<%= editable_field 'dd', @song, 'listens', @song.listens.count, disabled: true %>
	
		<dt><%= t 'songs.meta.listeners' %></dt>
		<%= editable_field 'dd', @song, 'listeners', @song.listens.group(:user_id).length, disabled: true %>
	</dl>

	<h1><%= t 'sources.header' %></h1>
	<ul>
		<% @song.sources.each do |source| %>
			<li>
				<%= link_to source.foreign_url do %>
					<%= image_tag "gfx/icons/16/#{source.name}.png" %>
					<%= source %>
				<% end %>
			</li>
		<% end %>
	</ul>
</section>