<article id='highlights'>
	<%= render partial: 'shared/ads/banner' %>

	<%= image_tag "#{I18n.locale}/start.png", id: 'screenshot' %>
	
	<section class="large">
		<div id='donate'>
			<h1><%= t "pages.pages.donations.title" %></h1>
			<% if too_many_donations? %>
				<%= t "donations.full_text_html" %>
			<% else %>
				<%=t "donations.front_text_html" %>
			<% end %>
		</div>
		<div id="donate-button">
			<%= link_to donations_path, class: 'button' do %>
				<%= image_tag('gfx/buttons/dollar.png') %>
				<span><%=t 'donations.button' %></span>
			<% end %>
		</div>
		<div id="latest">
			<h1><%=t "home.latest.title" %></h1>
			<%=t "home.latest.text_html" %>
		</div>
		<div id='latest-button'>
			<%= link_to news_path, class: 'button' do %>
				<%= image_tag('gfx/buttons/star.png') %>
				<span><%=t 'home.latest.more' %></span>
			<% end %>
		</div>
	</section>
	<section class="small">
		<div>
			<h2><%=t "home.highlights.music.title" %></h2>
			<p><%=t "home.highlights.music.text" %></p>
		</div>
		<div>
			<h2><%=t "home.highlights.face.title" %></h2>
			<p><%=t "home.highlights.face.text" %></p>
		</div>
		<div>
			<h2><%=t "home.highlights.social.title" %></h2>
			<p><%=t "home.highlights.social.text" %></p>
		</div>
		<div>
			<h2><%=t "home.highlights.remote.title" %></h2>
			<p><%=t "home.highlights.remote.text" %></p>
		</div>
	</section>
</article>