<a name="awards"></a>
<article class='fullwidth' id='awards'>
	<%= link_to image_tag("http://author.brothersoft.com/softimg/pick_109.gif"),
		"http://www.brothersoft.com/stoffi-music-player-455731.html" %>
	
	<%= link_to image_tag("http://www.softpedia.com/base_img/softpedia_free_award_f.gif"),
		"http://www.softpedia.com/get/Multimedia/Audio/Audio-Players/Stoffi-Music-Player.shtml" %>
		
	<%= link_to image_tag("http://www.findmysoft.com/review2_5_Stoffi%20Music%20Player_award.png"),
		"http://stoffi-music-player.findmysoft.com/" %>
		
	<%= link_to image_tag("http://img.informer.com/awards/si_editor5.gif"),
		"http://stoffi.software.informer.com/" %>
		
	<%= link_to image_tag("http://www.fileguru.com/resources/rate5_b2.gif"),
		"http://fileguru.com/Stoffi-Music-Player/info " %>
</article>