<%
slides =
[
	{ :name => "youtube" },
	{ :name => "interface" },
	{ :name => "playlists" },
	{ :name => "remote", url: "http://dev.stoffiplayer.com/wiki/ProjectRemote" },
	{ :name => "formats", url: "http://dev.stoffiplayer.com/wiki/Formats" },
	{ :name => "charity", url: money_path(ref: "slide_charity") },
	{ :name => "social", url: "http://dev.stoffiplayer.com/wiki/ProjectSocial" },
	{ :name => "focus" },
	{ :name => "cloud", url: "http://dev.stoffiplayer.com/wiki/ProjectGenesis" },
	{ :name => "bookmarks" }
]
%>

<div class='slideshow'>
	<div id="slide-background">
		<% i=1 %>
		<% slides.each do |slide| %>
			<% name = slide[:name] %>
			<% id = "slide#{i}" %>
			<% url = slide[:url] || download_path(:ref => "slide_#{name}") %>
	
			<div class="slide" id='slide<%=i%>' <%="style=display:none;" unless i==1 %>>
				<%= link_to url do %>
					<%= image_tag "#{I18n.locale}/slideshow/#{name}.png" %>
				<% end %>
				<div class="text">
					<h1><%=t "home.slides.#{name}.title" %></h1>
					<p><%= t "home.slides.#{name}.text_html" %></p>
					<% if slide[:url] %>
						<%= link_to t("home.slides.read_more"), url, :class => "more" %>
					<% end %>
					<span class="controls">
						<% j=1 %>
						<% slides.each do |s| %>
							<% cl = "" %>
							<% cl = "active" if s[:name] == name %>
							<%= link_to 'â—', '#', data: { slide: j }, class: cl,
								title: t("home.slides.#{s[:name]}.title") %>
							<% j+=1 %>
						<% end %>
					</span>
				</div>
			</div>
			<% i+=1 %>
		<% end %>
	</div>
</div>