<% can_edit = (current_user.owns?(@app) or current_user.admin?) %>
<section>
	<h1><%= t 'apps.meta.info' %></h1>
	<dl>
		<% if can_edit %>
			<dt><%= t 'apps.meta.name' %></dt>
			<%= editable_field 'dd', @app, 'name', @app.name, disabled: !can_edit %>
		
			<dt><%= t 'apps.meta.description' %></dt>
		<% end %>
		<%= editable_field 'dd', @app, 'description', @app.description, disabled: !can_edit %>
		
		<dt><%=t "apps.permissions.header" %></dt>
		
		<% ["name", "picture", "playlists", "listens", "shares"].each do |p| %>
			<dd title="<%=t "apps.permissions.#{p}.description" %>">
				<%=t "apps.permissions.#{p}.label" %>
			</dd>
		<% end %>
		
		<dt><%= t 'apps.meta.website' %></dt>
		<%= editable_field 'dd', @app, 'website', @app.website, disabled: !can_edit do %>
			<span class='value'><%= link_to(pretty_url(@app.website, true), @app.website) || '-' %></span>
		<% end %>
		
		<dt><%= t 'apps.meta.author' %></dt>
		<%= editable_field 'dd', @app, 'author', @app.author, disabled: !can_edit do %>
			<span class='value'><%= link_to(pretty_url(@app.author, true), @app.author_url) || '-' %></span>
		<% end %>
		
		<% if can_edit %>
			<dt><%=t "apps.meta.key" %></dt>
			<dd><code>
				<%= @app.key %>
			</code></dd>
			<dt><%=t "apps.meta.secret" %></dt>
			<dd><code>
				<%= @app.secret %>
			</code></dd>
			<dt><%=t "apps.meta.request" %></dt>
			<dd><code>
				<%= prefixed_app_url @app.oauth_server.request_token_path %>
			</code></dd>
			<dt><%=t "apps.meta.access" %></dt>
			<dd><code>
				<%= prefixed_app_url @app.oauth_server.access_token_path %>
			</code></dd>
			<dt><%=t "apps.meta.authorize" %></dt>
			<dd><code>
				<%= prefixed_app_url @app.oauth_server.authorize_path %>
			</code></dd>
			<dt><%=t "apps.meta.callback" %></dt>
			<dd><code>
				<%= @app.callback_url %>
			</code></dd>
		<% end %>
	</dl>
</section>