<li class='item' data-href='<%= url_for song %>' data-resource-type='song' data-resource-id='<%= song.id %>'
	data-resource-url='<%= url_for(song) %>'>
	
	<!-- image -->
	<%= image_tag song.image(:huge), data: { field: 'picture' } %>
	
	<!-- meta data -->
	<div class='overlay'>
		<span class='title' data-field='title'><%= song %></span>
		
		<% if defined? type and type %>
			<span class='type' data-list-mode='grid' data-type='song'><%= t 'songs.singular' %></span>
		<% end %>
		
		<% if song.artists.any? %>
			<span class='description' data-field='description'>
				<%= song.artist_names %>
			</span>
		<% end %>
		
	</div>
	
	<!-- controls -->
	<div class='action-bar'>
		
		<% if defined? type and type %>
			<span class='type' data-list-mode='list' data-type='song'><%= t 'songs.singular' %></span>
		<% end %>
		
		<span class='shadow dropdown add action'>
			<%= link_to '', title: t('playlists.add.description') do %>
				<span data-list-mode='list'><%= t 'playlists.add.menu' %> ▾</span>
				<span data-list-mode='grid'>+</span>
			<% end %>
			<ul class='dropdown-menu'>
				<li>
					<%= link_to 'Foo', '', title: t('playlists.add.link', playlist: 'Foo'),
					 	data: { add_to_resource: 'playlist', add_to_id: '1', add_id: '9' } %>
				</li>
			</ul>	
		</span>
		
		<% if current_user.admin? and defined? archetype %>
			<span class='duplicate action'>
				<%
				mark_title = t('duplicates.mark.description', archetype: archetype.title)
				unmark_title = t('duplicates.unmark.description', archetype: archetype.title)
				%>
				<%= link_to '',
				 	data: {
						ajax_call: :duplicate,
						archetype: archetype.id,
						duplicate_status: :unmarked
					} do %>
					<span data-list-mode='list' data-duplicate-mark title='<%=mark_title%>'>
						<%= t 'duplicates.mark.link' %>
					</span>
					<span data-list-mode='list' data-duplicate-unmark title='<%=unmark_title%>'>
						<%= t 'duplicates.unmark.link' %>
					</span>
				<% end %>
			</span>
		<% end %>
		
		<% if defined? delete %>
			<span class='remove action'>
				<%= link_to '', title: delete[:title] || t('pages.listens.destroy.description'), data: {
					ajax_call: :delete,
					delete_url: delete[:url] || url_for(song)+'.json',
					delete_data: delete[:data],
					delete_method: delete[:method] || 'delete',
					confirm: delete[:confirm] || t('pages.listens.destroy.confirm', song: song)
				} do %>
					<span data-list-mode='list'><%= t 'pages.listens.destroy.link' %></span>
					<span data-list-mode='grid'>x</span>
				<% end %>
			</span>
		<% end %>
	</div>
</li>