<li class='item' data-href='<%= url_for song %>' data-object='song-<%= song.id %>'>
	
	<!-- image -->
	<img data-field='picture' src='<%= song.image(:huge) %>'/>
	
	<!-- meta data -->
	<div class='overlay'>
		<span class='title' data-field='title'><%= song %></span>
		
		<% if defined? type and type %>
			<span class='type' data-list-mode='grid' data-type='song'><%= t 'songs.singular' %></span>
		<% end %>
		
		<% if song.artists.any? %>
			<span class='description' data-field='description'>
				<%= song.artist_names %>
			</span>
		<% end %>
		
	</div>
	
	<!-- controls -->
	<div class='hidden-overlay'>
		
		<% if defined? type and type %>
			<span class='type' data-list-mode='list' data-type='song'><%= t 'songs.singular' %></span>
		<% end %>
		
		<span class='shadow dropdown add'>
			<%= link_to 'javascript:void(0)', title: t('playlists.add.description') do %>
				<span data-list-mode='list'><%= t 'playlists.add.menu' %> ▾</span>
				<span data-list-mode='grid'>+</span>
			<% end %>
			<ul class='dropdown-menu'>
				<li>
					<%= link_to 'Foobar', '#', title: 'Add to playlist Foobar' %>
				</li>
				<li>
					<%= link_to 'Something something', 'javascript:void(0)', title: t('playlists.add.link', playlist: 'Something something'),
					 	data: { add_to_resource: 'playlist', add_to_id: '1', add_id: '9' } %>
				</li>
				<li>
					<%= link_to 'Foobar', '#', title: 'Add to playlist Foobar' %>
				</li>
				<li>
					<%= link_to 'Foobar', '#', title: 'Add to playlist Foobar' %>
				</li>
				<li>
					<%= link_to 'Foobar', '#', title: 'Add to playlist Foobar' %>
				</li>
				<li>
					<%= link_to 'Foobar', '#', title: 'Add to playlist Foobar' %>
				</li>
				<li>
					<%= link_to 'Foobar', '#', title: 'Add to playlist Foobar' %>
				</li>
				<li>
					<%= link_to 'Foobar', '#', title: 'Add to playlist Foobar' %>
				</li>
			</ul>	
		</span>
		<span class='remove'>
			<%= link_to 'javascript:void(0)', title: t('pages.listens.destroy.description'),
			 	data: {
					confirm: t('pages.listens.destroy.confirm', song: song),
					remove_resource: 'listen', remove_id: '1'
				} do %>
				<span data-list-mode='list'><%= t 'pages.listens.destroy.link' %></span>
				<span data-list-mode='grid'>x</span>
			<% end %>
		</span>
	</div>
</li>