<%
tabs = ['weekly', 'all_time', 'recent']
categories = [''] # global
categories << 'user' if user_signed_in?
%>

<article class='tabbed'>
	
	<% categories.each do |cat| %>
		<% tabs.each do |tab| %>
			<% t = cat.present? ? "#{cat}_#{tab}" : tab %>
			<section data-content='<%= t %>'>
				<h1><%= t "pages.songs.index.#{t}.title" %></h1>
				<%= render "songs/tabs/#{t}" %>
			</section>
		<% end %>
	<% end %>
	
	<aside class='tabs'>
		<section>
			<% categories.each do |cat| %>
				<% if cat.present? %>
					<h2><%= t 'pages.songs.index.categories.'+cat %></h2>
				<% end %>
				<% tabs.each do |tab| %>
					<% t = cat.present? ? "#{cat}_#{tab}" : tab %>
					<div class='tab' data-tab='<%= t %>' title='<%=t "pages.songs.index.#{t}.description" %>'>
						<%=t "pages.songs.index.#{t}.link" %>
					</div>
				<% end %>
			<% end %>
		</section>
	</aside>
	
</article>