<% content_for :title do %>
	<%= @song.title %>
<% end %>

<% content_for :description do %>
	<%=t 'pages.songs.show.description', song: @song.title %>
<% end %>

<% content_for :header do %>
	<meta property="og:title" content="<%=h @song.title %>"/>
	<meta property="og:type" content="music.song"/>
	<meta property="og:image" content="<%= @song.image %>"/>
	<meta property="og:url" content="<%= @song.url %>"/>
	<meta property="og:description" content="<%=t 'songs.description', song: @song, artists: @song.artist_names %>"/>
	<meta property="music:duration" content="<%=@song.length.to_i %>"/>
	<% @song.artists.each do |a| %>
		<meta property="music:musician" content="<%= a.url %>"/>
	<% end %>
	<% @song.albums.each do |a| %>
		<meta property="music:album" content="<%= a.url %>"/>
	<% end %>
<% end %>

<% sections = @song.sources.map(&:name) %>

<article class='tabbed'>
	<section class='head'>
		<div class='left'>
			<div class='top'></div>
			<div class='line'></div>
			<div class='bottom'>
				<span><%=t 'songs.singular' %></span>
			</div>
		</div>
		<div class='right'>
			<div class='top'>
				<h1><%=d @song.title %></h1>
				<%= render partial: 'shared/social' %>
			</div>
			<div class='line'></div>
			<div class='bottom'>
				<span>
					<%= link_to_association @song.artists %>
				</span>
			</div>
		</div>
		<div class='image'>
			<div class='image-border'>
				<%= image_tag @song.image(:huge) %>
			</div>
		</div>
	</section>
	
	<!-- we don't have any tabs, but need this to create the shadow effect -->
	<section class='tabs'></section>
	
	<aside>
		<%= render "songs/sections/info" %>
	</aside>
	
	<% sections.each do |section| %>
		<%= render "songs/sections/#{section}" rescue nil %>
	<% end %>
	
	<%= render "songs/sections/albums" %>
	<%= render "songs/sections/similar" %>
	
</article>