<div id='sidebar'>

	<%= render :partial => "sidebars/activity" if user_signed_in? %>

	<div class="ingraved box">
		<h1><%=t "side.features.title" %></h1>
		<ul class="tick">
			<%=t "side.features.list_html" %>
		</ul>
	</div>

	<%= render 'ads/sidebar' %>

	<div class="ingraved box">
		<h1><%=t "donations.title" %></h1>
		<%=t "donations.short_front_text_html" %>
		<div class="center">
			<%=custom_button_tag t("donations.button"), "donate()", "dollar", { :type => :function, :color => :gold } %>
		</div>
	</div>

	<div class="ingraved box">
		<h1><%=t "side.follow.title" %></h1>
		<ul class="large">
			<%
			links =
			[
				{:name => "Twitter", :img => "twitter", :url => "https://twitter.com/stoffiplayer"},
				{:name => "Facebook", :img => "facebook", :url => "https://facebook.com/stoffiplayer"},
				{:name => "YouTube", :img => "youtube", :url => "https://youtube.com/stoffiplayer"},
				{:name => "Google+", :img => "googleplus", :url => "https://plus.google.com/b/111751169971055410532"},
				{:name => "Blogger", :img => "blogger", :url => "http://blog.stoffiplayer.com"}
			]
			%>
			<% links.each do |l| %>
				<li class="center"><%=custom_button_tag t("side.follow.link", :service => l[:name]), l[:url], l[:img], { :width => 140, :color => :blue } %></li>
			<% end %>
		</ul>
	</div>

</div>